USE [TestDB] --Replace with a valid test database to create and execute the procedure
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (	SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.sp_DVR_OnScreenKeyboard_Input') AND TYPE IN ('P','PC') )
BEGIN
	DROP PROCEDURE dbo.sp_DVR_OnScreenKeyboard_Input
END
GO

CREATE PROCEDURE dbo.sp_DVR_OnScreenKeyboard_Input
@InputFileLoc	VARCHAR(100)
AS
BEGIN
-- =============================================
-- Author:			Matthew Burns
-- Create date:		10/18/2018
-- The Problem:
/*
On screen keyboards are the bane of DVR users. To help alleviate the pain, one local company is asking you to implement part 
of a voice to text search for their DVR by developing an algorithm to script the on screen keyboard. 
The keyboard is laid out as follows:

ABCDEF
GHIJKL
MNOPQR
STUVWX
YZ1234
567890

Please write a program which scripts the path of the cursor on the keyboard. The program should:

    Accept a flat file as input.
        Each new line will contain a search term
    Output the path for the DVR to execute for each line
        Assume the cursor will always start on the A
        Use the following characters to make up the path
            U = up
            D = down
            L = left
            R = right
            S = space
            # = select
    Comma delimit the result

--Sample Input
IT Crowd
--Sample Output
D,R,R,#,D,D,L,#,S,U,U,U,R,#,D,D,R,R,R,#,L,L,L,#,D,R,R,#,U,U,U,L,#
--The Fine Print

Please use whatever techniques you feel are applicable to solve the problem. We suggest that you approach this exercise as if 
this code was part of a larger system. The end result should be representative of your abilities and style. We prefer that you 
submit your solution in a language targeting the .NET Framework to help us better evaluate your code.

Please fork this repository. If your solution involves code auto generated by a development tool, please commit it separately 
from your own work. When you have completed your solution, please issue a pull request to notify us that you are ready.

Have fun.
*/-- =============================================
	SET NOCOUNT ON;

--Declare variables

	DECLARE @SQL_BULK			VARCHAR(MAX)
			--,@SearchString		VARCHAR(MAX)
			--,@Titles			NVARCHAR(MAX)
			--,@TitlesID			INT
	
--Drop all processing tables if they exist from previous runs

	--IF EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.Keyboard_Mapping') AND TYPE IN ('U'))
	--BEGIN
	--	DROP TABLE dbo.Keyboard_Mapping
	--END

	IF EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DVR_OSK_StagingLoad') AND TYPE IN ('U'))
	BEGIN
		DROP TABLE dbo.DVR_OSK_StagingLoad
	END

	--IF EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DirectionsTable') AND TYPE IN ('U'))
	--BEGIN
	--	DROP TABLE dbo.DirectionsTable
	--END

	--IF EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.TitleIndividualLetter') AND TYPE IN ('U'))
	--BEGIN
	--	DROP TABLE dbo.TitleIndividualLetter
	--END

--Create the Keyboard_Mapping table if it does not exist

	--IF NOT EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.Keyboard_Mapping') AND TYPE IN ('U'))
	--BEGIN

	--	CREATE TABLE Keyboard_Mapping
	--	(
	--		ID INT IDENTITY
	--		,Col1 VARCHAR(1)
	--		,Col2 VARCHAR(1)
	--		,Col3 VARCHAR(1)
	--		,Col4 VARCHAR(1)
	--		,Col5 VARCHAR(1)
	--		,Col6 VARCHAR(1)
	--	)

--Insert the static Keyboard layout values of the on-screen keyboard into a "table array"

	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('A','B','C','D','E','F')
	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('G','H','I','J','K','L')
	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('M','N','O','P','Q','R')
	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('S','T','U','V','W','X')
	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('Y','Z','1','2','3','4')
	--	INSERT INTO Keyboard_Mapping (Col1,Col2,Col3,Col4,Col5,Col6)
	--	VALUES ('5','6','7','8','9','0')

	--END

	IF NOT EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DVR_OSK_StagingLoad') AND TYPE IN ('U'))
	BEGIN

		CREATE TABLE DVR_OSK_StagingLoad
		(
			SearchString VARCHAR(MAX)
		)

	END

--Import the search string text file location from the passed in string parameter value

	SET @SQL_BULK = 'BULK INSERT DVR_OSK_StagingLoad FROM '''+@InputFileLoc+''' 
						WITH ( FIRSTROW = 1, 
								ROWTERMINATOR = ''0x0a'' )'

	EXEC (@SQL_BULK)

--Perform post-import processing/data cleansing on the staging table

	ALTER TABLE DVR_OSK_StagingLoad ADD Processed BIT NULL
	ALTER TABLE DVR_OSK_StagingLoad ADD ID INT IDENTITY
		
	IF EXISTS 
	(	
		SELECT 1 FROM sys.columns
		WHERE name = 'Processed'
		AND OBJECT_ID = OBJECT_ID('dbo.DVR_OSK_StagingLoad')
	)
	BEGIN
		UPDATE DVR_OSK_StagingLoad
		SET Processed = 0, SearchString = REPLACE(SearchString,CHAR(13),'')
	END

--Create the logical DirectionsTable to prep the output values

	--IF NOT EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DirectionsTable') AND TYPE IN ('U'))
	--BEGIN
	--	CREATE TABLE dbo.DirectionsTable
	--	(
	--		ID INT IDENTITY
	--		,DirectionChar VARCHAR(1)
	--		,Direction VARCHAR(6)
	--	)

--Insert the output characters and their directional command

	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('U','up')
	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('D','down')
	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('L','left')
	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('R','right')
	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('S','space')
	--	INSERT INTO dbo.DirectionsTable (DirectionChar,Direction)
	--	VALUES ('#','select')
	--END

--Load the Titles variable from the staging table

	--SET @Titles = ''
	
	--WHILE (SELECT COUNT(*) FROM DVR_OSK_StagingLoad WHERE Processed = 0) > 0
	--BEGIN
		
	--	SELECT TOP 1 @TitlesID = ID FROM DVR_OSK_StagingLoad WHERE Processed = 0
		
	--	SELECT @Titles = @Titles + SearchString FROM DVR_OSK_StagingLoad WHERE Processed = 0 AND ID = @TitlesID

	--	UPDATE DVR_OSK_StagingLoad SET Processed = 1 WHERE ID = @TitlesID

	--END	

--Use CTE and recursion to break the Titles variable down into individual letter rows and insert into processing table, 
--my thoughts here were to possibly use individual rows as input when I was trying to do this entirely in T-SQL.
	--;WITH BreakString(Number)
	--AS 
	--(
	--SELECT 1
	--UNION ALL 
	--SELECT Number+1 
	--FROM BreakString  
	--WHERE Number<LEN(@Titles)
	--)
	--SELECT * 
	--INTO TitleIndividualLetter
	--FROM BreakString 
	--CROSS APPLY 
	--(
	--SELECT SUBSTRING(@Titles,Number,1 ) 
	--) AS J(Letter)
	--OPTION (maxrecursion 0);

--Adjust Letter column in TitleIndividualLetter to be 1 char instead of MAX
	--ALTER TABLE TitleIndividualLetter ALTER COLUMN Letter VARCHAR(1)






--Development/testing SELECTs
	--select * from TitleIndividualLetter
	--where letter = ''

	--select * from TitleIndividualLetter
	--where letter = char(13)

	--select * from TitleIndividualLetter
	--SELECT * FROM Keyboard_Mapping
	SELECT * FROM DVR_OSK_StagingLoad
	--SELECT * FROM DirectionsTable

	/*

	All commented out work above was me trying to figure out how to get this to work entirely in T-SQL, but
	I wanted to keep my work in here to preserve it, but ultimately, I could not figure out how to get a 
	cursor to loop through a table in a directional manner. 
	
	*/

END
GO

--Call the procedure with the file location parameters for input
EXEC sp_DVR_OnScreenKeyboard_Input 
'D:\mattb\Documents\OSKTest_Input.txt' --Input File Location
GO