USE [TestDB] --Replace with a valid test database to create and execute the procedure
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (	SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.sp_DVR_OnScreenKeyboard_Output') AND TYPE IN ('P','PC') )
BEGIN
	DROP PROCEDURE dbo.sp_DVR_OnScreenKeyboard_Output
END
GO

CREATE PROCEDURE dbo.sp_DVR_OnScreenKeyboard_Output
@OutputFileLoc	VARCHAR(100)
AS
BEGIN
-- =============================================
-- Author:			Matthew Burns
-- Create date:		10/18/2018
-- The Problem:
/*
On screen keyboards are the bane of DVR users. To help alleviate the pain, one local company is asking you to implement part 
of a voice to text search for their DVR by developing an algorithm to script the on screen keyboard. 
The keyboard is laid out as follows:

ABCDEF
GHIJKL
MNOPQR
STUVWX
YZ1234
567890

Please write a program which scripts the path of the cursor on the keyboard. The program should:

    Accept a flat file as Output.
        Each new line will contain a search term
    Output the path for the DVR to execute for each line
        Assume the cursor will always start on the A
        Use the following characters to make up the path
            U = up
            D = down
            L = left
            R = right
            S = space
            # = select
    Comma delimit the result

--Sample Output
IT Crowd
--Sample Output
D,R,R,#,D,D,L,#,S,U,U,U,R,#,D,D,R,R,R,#,L,L,L,#,D,R,R,#,U,U,U,L,#
--The Fine Print

Please use whatever techniques you feel are applicable to solve the problem. We suggest that you approach this exercise as if 
this code was part of a larger system. The end result should be representative of your abilities and style. We prefer that you 
submit your solution in a language targeting the .NET Framework to help us better evaluate your code.

Please fork this repository. If your solution involves code auto generated by a development tool, please commit it separately 
from your own work. When you have completed your solution, please issue a pull request to notify us that you are ready.

Have fun.
*/-- =============================================
	SET NOCOUNT ON;

--Declare variables

	DECLARE @SQL_OUTPUT		VARCHAR(5000)

	
	/*
	Assumptions: We have written a seperate C# program that handles the logic behind the actual cursor movement.
	This procedure would take the string, comma-delimited values that the front-end program outputs into a database
	table, and then would output a txt file with the directions. 
	
	Since I have to assume this because my skills do not allow me to write the front-end code of this challenge,	
	I will input the directional values manually into a table for my included test file.
	*/
	IF EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DVR_OSK_Output') AND TYPE IN ('U'))
	BEGIN
		DROP TABLE dbo.DVR_OSK_Output
	END

	IF NOT EXISTS (SELECT NULL FROM sys.objects WHERE OBJECT_ID = OBJECT_ID('dbo.DVR_OSK_Output') AND TYPE IN ('U'))
	BEGIN

		CREATE TABLE DVR_OSK_Output
		(
			ID			INT IDENTITY
			,Title		NVARCHAR(500)
			,Directions	NVARCHAR(2000)
		)

		INSERT INTO DVR_OSK_Output
		VALUES('IT Crowd','D,R,R,#,D,D,L,#,S,U,U,U,R,#,D,D,R,R,R,#,L,L,L,#,D,R,R,#,U,U,U,L,#')
		INSERT INTO DVR_OSK_Output
		VALUES('Breaking Bad','R,#,D,D,R,R,R,R,#,U,U,L,#,L,L,L,L,#,R,R,R,R,D,#,L,L,#,L,D,#,L,U,#,S,U,R,#,L,#,R,R,R,#')
		INSERT INTO DVR_OSK_Output
		VALUES('The Walking Dead','D,D,D,R,#,U,U,#,U,R,R,R,#,S,D,D,D,#,L,L,L,L,U,U,U,#,R,R,R,R,R,D,#,L,#,L,L,#,L,D,#,L,U,#,S,U,R,R,R,#,R,#,L,L,L,L,#,R,R,R,#')
		INSERT INTO DVR_OSK_Output
		VALUES('28 Days Later','D,D,D,D,R,R,R,#,D,#,S,U,U,U,U,U,#,L,L,L,#,D,D,D,D,#,U,#,S,U,U,R,R,R,R,R,#,U,L,L,L,L,L,#,D,D,D,R,#,U,U,U,R,R,R,#,D,D,R,#')
		INSERT INTO DVR_OSK_Output
		VALUES('Gone In 60 Seconds','D,#,D,R,R,#,L,#,U,U,R,R,R,#,S,D,L,L,#,D,L,#,S,D,D,D,#,R,R,R,R,#,S,U,U,L,L,L,L,L,#,U,U,U,R,R,R,R,#,L,L,#,D,D,#,L,#,U,U,R,R,#,D,D,D,L,L,L,#')
		INSERT INTO DVR_OSK_Output
		VALUES('The Fast and the Furious','D,D,D,R,#,U,U,#,U,R,R,R,#,S,R,#,L,L,L,L,L,#,D,D,D,#,R,#,S,U,U,U,L,#,D,D,R,#,U,U,R,R,#,S,D,D,D,L,L,#,U,U,#,U,R,R,R,#,S,R,#,D,D,D,L,L,L,#,U,R,R,R,#,U,L,L,L,#,D,#,D,#,L,L,#')
		INSERT INTO DVR_OSK_Output
		VALUES('John Carpenters Vampires','R,R,R,R,D,#,D,L,#,U,L,#,D,#,S,U,U,R,#,L,L,#,R,R,R,R,R,D,D,#,L,L,#,U,U,R,#,D,D,L,L,L,#,D,#,U,U,U,R,R,R,#,D,D,R,#,L,L,L,L,L,D,#,S,R,R,R,#,U,U,U,L,L,L,#,D,D,#,R,R,R,#,U,L,#,R,R,R,D,#,U,U,L,#,D,D,D,L,L,L,L,#')
	END

	SET @SQL_OUTPUT = 'bcp "SELECT ''ID'', ''Title'', ''Directions'' UNION ALL SELECT CONVERT(VARCHAR(100),ID), CONVERT(VARCHAR(100),Title), CONVERT(VARCHAR(500),Directions) FROM TestDB.dbo.DVR_OSK_Output" queryout '+ @OutputFileLoc +' -c -t\t -T -S '+ @@SERVERNAME

	exec master..xp_cmdshell @SQL_OUTPUT

	--SELECT * FROM DVR_OSK_StagingLoad
	--SELECT * FROM DVR_OSK_Output

END
GO

--Call the procedure with the file location parameters for Output
EXEC sp_DVR_OnScreenKeyboard_Output 
'D:\mattb\Documents\OSKTest_Output.txt' --Output File Location
GO