@{
    ViewBag.Title = "OSK";
}

<div class="jumbotron">
    <h1>DVR Path</h1>
    <p class="lead">Enter the input file for the on screen keyboard now. Please.</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "keyboard-input-form", }))
    {
        <p><input type="file" name="InputFile" id="InputFile" /></p>
    }
</div>

<p>@ViewBag.Output</p>

@section Scripts {
    <script>
        $(function () {
            $("#InputFile").change(function () {
                $("#keyboard-input-form").submit();
            });
        })
    </script>
}