<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value=".\"/>
    <add key="InFileName" value="input.txt"/>
    <add key="OutFileName" value="output.txt"/>
    <add key="LogFileName" value="ErrorLog.txt"/>
    <add key="AllowLowerCase" value="True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>